<h2>統計グラフ画面</h2>
<hr/>
<%= render 'form2' %>

<%= hidden_field_tag 'graph_cond[sumUnt]', @graph_cond[:sumUnt] %>
<%= hidden_field_tag 'graph_cond[outCond]', @graph_cond[:outCond] %>
<%= hidden_field_tag 'graph_cond[outYm]', @graph_cond[:outYm] %>
<%= hidden_field_tag 'graph_cond[targetSpnFrom]', @graph_cond[:targetSpnFrom] %>
<%= hidden_field_tag 'graph_cond[targetSpnTo]', @graph_cond[:targetSpnTo] %>

<script>
$(function() {

    // Get graph data.
    $.ajax({
      url: "/toukeis/graph_data.json",
      dataType: "json",
      root: "list",
      data: {
        'sumUnt' : $('#graph_cond_sumUnt').val(),
        'outCond' : $('#graph_cond_outCond').val(),
        'outYm' : $('#graph_cond_outYm').val(),
        'targetSpnFrom' : $('#graph_cond_targetSpnFrom').val(),
        'targetSpnTo' : $('#graph_cond_targetSpnTo').val()
      },
      success: function(data) {
        var values = [];
        var ticks = [];
        $.each(data.rsdata, function(index, item) {
          ticks.push(item.sumUnt);
          values.push(_to_num(item.kingaku));
        })
        // 金額のグラフを表示する
        $("#chart_kingaku").width(700).height(50+(50 * values.length));;
        show_kingaku_graph(values, ticks);
      }
    })

});

function show_kingaku_graph(values, ticks) {
    // var values = [200, 600, 700, 1000];
    // var ticks = ["太郎", "次郎", "花子", "陽子"];
    // Horizontal bar chart

    var plot_kin = $.jqplot('chart_kingaku', [values], {
        seriesDefaults: {
            renderer: $.jqplot.BarRenderer,
            // Show point labels to the right ('e'ast) of each bar.
            // edgeTolerance of -15 allows labels flow outside the grid
            // up to 15 pixels.  If they flow out more than that, they
            // will be hidden.
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            // Rotate the bar shadow as if bar is lit from top right.
            shadowAngle: 135,
            // Here's where we tell the chart it is oriented horizontally.
            rendererOptions: {
                barDirection: 'horizontal'
            }
        },
        series:[
            {label:'金額'}
        ],
        axes: {
            yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks
            },
            xaxis: {
                tickOptions: { formatString: "%'d" }
            }
        },
        legend: {
          show: true,
          location: 'e',
          placement: 'outside'
        }

    });

    // グラフのサイズを変更する
    // $("#chart_kingaku").css("width", "700px", "height", "600px");
    // $("#chart_kingaku").width(700).height(600);
}

function _to_num(val) {
  if(val) {
    return parseInt(val);
  } else {
    return 0;
  }
}
</script>
