<p id="notice"><%= notice %></p>

<p>
  <b>Hokenshubetsucd:</b>
  <%= @hoken_shubetsu.hokenShubetsuCd %>
</p>

<p>
  <b>Hokenshubetsunm:</b>
  <%= @hoken_shubetsu.hokenShubetsuNm %>
</p>

<p>
  <b>Hyojijyun:</b>
  <%= @hoken_shubetsu.hyojiJyun %>
</p>

<p>
  <b>Koshinshaid:</b>
  <%= @hoken_shubetsu.koshinshaId %>
</p>

<p>
  <b>Torokushaid:</b>
  <%= @hoken_shubetsu.torokushaId %>
</p>


<%= link_to 'Edit', edit_hoken_shubetsu_path(@hoken_shubetsu) %> |
<%= link_to 'Back', hoken_shubetsus_path %>
