<form id="konyuRirekiForm" method="post">
<input type="hidden" id="konyuRirekiId" name="kokyaku[konyuRirekiId]" value="<%= @kokyaku.konyuRirekiId %>" />
<input type="hidden" id="koshinshaId" name="kokyaku[koshinshaId]" value="<%= @kokyaku.koshinshaId %>" />
<input type="hidden" id="torokushaId" name="kokyaku[torokushaId]" value="<%= @kokyaku.torokushaId %>" />
<input type="hidden" id="httpMethod" name="_method" value="" />
<div>
  <table>
    <tr>
      <th style="width:100px;">顧客</th>
      <td style="width:150px;">
        <!-- 顧客名を表示する -->
        <%= select :kokyaku, :shobyouCd1, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th style="width:100px;">購入履歴コード</th>
      <td style="width:150px;">
        <input style="width:100px;" type="text" id="konyuRirekiId" name="konyuRireki[konyuRirekiId]" value="<%= @kokyaku.postNo %>" tabindex="10" />
      </td>
      <th style="width:100px;">受付制作担当者</th>
      <td style="width:150px;">
        <!-- 社員マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>病院</th>
      <td>
        <!-- 病院マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
      <th>受注日</th>
      <td>
        <input style="width:130px;" type="text" id="juchuDt" name="kokyaku[juchuDt]" value="<%= @kokyaku.juchuDt %>" tabindex="12" />
      </td>
    </tr>
    <tr>
      <th>医師氏名</th>
      <td>
        <input style="width:70px;" type="text" id="ishiNm1" name="kokyaku[ishiNm1]" value="<%= @kokyaku.ishiNm1 %>" tabindex="12" />
        <input style="width:70px;" type="text" id="ishiNm2" name="kokyaku[ishiNm2]" value="<%= @kokyaku.ishiNm2 %>" tabindex="12" />
      </td>
      <th>仮合担当者</th>
      <td>
        <!-- 社員マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>理学療法士氏名</th>
      <td>
        <input style="width:70px;" type="text" id="rigakuRyohoNm1" name="kokyaku[rigakuRyohoNm1]" value="<%= @kokyaku.rigakuRyohoNm1 %>" tabindex="12" />
        <input style="width:70px;" type="text" id="rigakuRyohoNm2" name="kokyaku[rigakuRyohoNm2]" value="<%= @kokyaku.rigakuRyohoNm2 %>" tabindex="12" />
      </td>
      <th>仮合日</th>
      <td>
        <input style="width:130px;" type="text" id="kariAwaseDt" name="kokyaku[kariAwaseDt]" value="<%= @kokyaku.kariAwaseDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>作業療法士氏名</th>
      <td>
        <input style="width:70px;" type="text" id="rigakuRyohoNm1" name="kokyaku[rigakuRyohoNm1]" value="<%= @kokyaku.rigakuRyohoNm1 %>" tabindex="12" />
        <input style="width:70px;" type="text" id="rigakuRyohoNm2" name="kokyaku[rigakuRyohoNm2]" value="<%= @kokyaku.rigakuRyohoNm2 %>" tabindex="12" />
      </td>
      <th>納品担当者</th>
      <td>
        <!-- 社員マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>見積担当営業</th>
      <td>
        <!-- 社員マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
      <th>納品日</th>
      <td>
        <input style="width:130px;" type="text" id="nohinDt" name="kokyaku[nohinDt]" value="<%= @kokyaku.nohinDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>見積日</th>
      <td>
        <input style="width:130px;" type="text" id="mitsumoriDt" name="kokyaku[mitsumoriDt]" value="<%= @kokyaku.mitsumoriDt %>" tabindex="14" />
      </td>
      <th>交付日</th>
      <td>
        <input style="width:130px;" type="text" id="kofuDt" name="kokyaku[kofuDt]" value="<%= @kokyaku.kofuDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>種別</th>
      <td>
        <select style="width:130px;" id="shubetsuKbn" name="shubetsuKbn" value="<%= @kokyaku.shubetsuKbn %>">
              <option value=""></option>
              <option value="0">新規</option>
              <option value="1">修理</option>
            </select>
      </td>
      <th>入金日</th>
      <td>
        <input style="width:130px;" type="text" id="nyukinDt" name="kokyaku[nyukinDt]" value="<%= @kokyaku.nyukinDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>見積製品項目</th>
      <td>
        <!-- 製品マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
      <th>押印日</th>
      <td>
        <input style="width:130px;" type="text" id="oshiinDt" name="kokyaku[oshiinDt]" value="<%= @kokyaku.oshiinDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>商品名</th>
      <td>
        <input style="width:130px;" type="text" id="shohinNm" name="kokyaku[shohinNm]" value="<%= @kokyaku.shohinNm %>" tabindex="14" />
      </td>
      <th>完了日</th>
      <td>
        <input style="width:130px;" type="text" id="kanryoDt" name="kokyaku[kanryoDt]" value="<%= @kokyaku.kanryoDt %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>保険種別1</th>
      <td>
      <!-- 保険種別マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
      <th>完成図</th>
      <!-- 完成図を表示する -->
      <td rowspan="4">
      </td>
    </tr>
    <tr>
      <th>保険種別2</th>
      <td>
        <!-- 保険種別マスタを表示 -->
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>金額</th>
      <td>
        <input style="width:130px;" type="text" id="kin" name="kokyaku[kin]" value="<%= @kokyaku.kin %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>請求金額（負担額）</th>
      <td>
        <input style="width:130px;" type="text" id="seikyuKin" name="kokyaku[seikyuKin]" value="<%= @kokyaku.seikyuKin %>" tabindex="14" />
      </td>
    </tr>
    <tr>
      <th>商品仕様・備考</th>
      <td>
        <input style="width:130px;" type="text" id="shohinSiyoBiko" name="kokyaku[shohinSiyoBiko]" value="<%= @kokyaku.shohinSiyoBiko %>" tabindex="14" />
      </td>
    </tr>
  </table>
</div>
</form>
<script>
$(function() {
  $("#konyuRirekiForm").validate({
    errorClass:'error',
    errorElement:'label',
    highlight: function (element, errorClass, validClass) {
      $(element).addClass(errorClass);
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass(errorClass);
    },
    rules: {
        kokyakuId: {required:true},
        kokyakuNmKana: {katakana:true, maxlength:10},
        tanjoDt: {date:true},
        postNo: {postnum:true, maxlength:8},
        address1: {maxlength:100},
        address2: {maxlength:100},
        tel1: {telnum:true, maxlength:12},
        tel2: {mobilenum:true, maxlength:13},
        fax: {telnum:true, maxlength:12},
        gakkoNm: {maxlength:20},
        biko: {maxlength:100},
    }
  });
  $("#kokyaku_seibetsu").css("width", "100px").attr("tabindex", "6");
  $("#kokyaku_shobyouCd1").css("width", "100px").attr("tabindex", "22");
  $("#kokyaku_shobyouCd2").css("width", "100px").attr("tabindex", "24");
  $("#kokyaku_shobyouCd3").css("width", "100px").attr("tabindex", "26");
});

// 更新用メソッド
function executeKokyaku(kokyakuId) {
  // クライアントバリデーション
  if ($("#kokyakuForm").valid() == false) {
     return false;
  }
  //var action;
  //var method;
  if(kokyakuId != null) {
    $("#koshinshaId").val("1");
    $("#kokyakuForm").attr("action", "/kokyakus/" + kokyakuId);
    //$("#kokyakuForm").attr("method", "PUT");
    $("#httpMethod").val("put");
      //url = "../../kokyakus/" + kokyakuId + ".json";
      //type = "PUT";
  } else {
    $("#koshinshaId").val("1");
    $("#torokushaId").val("1");
      //url = "../kokyakus.json";
      //type = "POST";
    $("#kokyakuForm").attr("action", "/kokyakus");
    //$("#kokyakuForm").attr("method", "POST");
    $("#httpMethod").val("post");
  }
  $("#kokyakuForm").submit();
  // var data = {};
  // var postData = {};
  // var kokyaku = $("#kokyakuForm").serializeArray();
  // $.each(kokyaku, function() {
  //     data[this.name] = this.value;
  // });
  // data["koshinshaId"] = 1;
  // data["torokushaId"] = 1;
  // postData["kokyaku"] = data;
  // postData["id"] = kokyakuId;
  // $.ajax({
  //     scriptCharset:"UTF-8",
  //     type: type,
  //     url: url,
  //     data: postData,
  //     root: "kokyaku",
  //     dataType: "json",
  //     success: function(result) {
  //         if(result != null) {
  //             //searchKokyaku();
  //         }
  //     }
  // });
  return false;
}

</script>