<form id="konyuRirekiForm" method="post">
<input type="hidden" id="id" name="konyu_rireki[id]" value="<%= @konyu_rireki.id %>" />
<input type="hidden" id="konyuRirekiId" name="konyu_rireki[konyuRirekiId]" value="<%= @konyu_rireki.konyuRirekiId %>" />
<input type="hidden" id="koshinshaId" name="konyu_rireki[koshinshaId]" value="<%= @konyu_rireki.koshinshaId %>" />
<input type="hidden" id="torokushaId" name="konyu_rireki[torokushaId]" value="<%= @konyu_rireki.torokushaId %>" />
<input type="hidden" id="httpMethod" name="_method" value="" />
<div>
  <table style="width:866px;">
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <th style="width:100px;">購入履歴コード</th>
            <td>
              <div id="konyuRirekiId" style="width:100px;" class="input-xlarge uneditable-input"><%= @konyu_rireki.konyuRirekiId %></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">顧客コード</th>
            <td>
              <% if @konyu_rireki.kokyakuId.present? %>
                <div id="displayKokyakuId" style="width:70px;" class="input-xlarge uneditable-input"><%= @konyu_rireki.kokyakuId %></div>
                <input type="hidden" id="kokyakuId" name="konyu_rireki[kokyakuId]" value="<%= @konyu_rireki.kokyakuId %>" />
                <script type="text/javascript">var tab_start_index = 1;</script>
              <% else %>
                <input style="width:70px; ime-mode: disabled;" type="text" id="kokyakuId" name="konyu_rireki[kokyakuId]" value="<%= @konyu_rireki.kokyakuId %>" />
                <script type="text/javascript">var tab_start_index = 0;</script>
              <% end %>
            </td>
            <td>
              <div id="kokyakuNm"><%= @konyu_rireki.kokyakuNm1 %><%= @konyu_rireki.kokyakuNm2 %></div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
              <th style="width:100px;">受付制作担当者</th>
              <td>
                <input style="width:70px; ime-mode: disabled;" type="text" id="uketsukeSesakuTantoCd" name="konyu_rireki[uketsukeSesakuTantoCd]" value="<%= @konyu_rireki.uketsukeSesakuTantoCd %>" />
              </td>
              <td>
                <div id="uketsukeSesakuTantoNm"><%= @konyu_rireki.uketsukeSesakuTantoNm %></div>
              </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">病院</th>
            <td>
              <input style="width:70px; ime-mode: disabled;" type="text" id="byoinCd" name="konyu_rireki[byoinCd]" value="<%= @konyu_rireki.byoinCd %>" />
            </td>
            <td>
              <div id="byoinNm"><%= @konyu_rireki.byoinNm %></div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">受注日</th>
            <td>
              <input style="width:70px;" type="text" id="juchuDt" name="konyu_rireki[juchuDt]" value="<%= @konyu_rireki.juchuDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">医師</th>
            <td>
              <input style="width:70px;" type="text" id="ishiNm1" name="konyu_rireki[ishiNm1]" value="<%= @konyu_rireki.ishiNm1 %>" />
            </td>
            <td>
              <input style="width:70px;" type="text" id="ishiNm2" name="konyu_rireki[ishiNm2]" value="<%= @konyu_rireki.ishiNm2 %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">仮合担当者</th>
            <td>
              <input style="width:70px; ime-mode: disabled;" type="text" id="kariAwaseTantoCd" name="konyu_rireki[kariAwaseTantoCd]" value="<%= @konyu_rireki.kariAwaseTantoCd %>" />
              <div id="kariAwaseTantoNm"><%= @konyu_rireki.kariAwaseTantoNm %></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">理学療法士</th>
            <td>
              <input style="width:70px;" type="text" id="rigakuRyohoNm1" name="konyu_rireki[rigakuRyohoNm1]" value="<%= @konyu_rireki.rigakuRyohoNm1 %>" />
            </td>
            <td>
              <input style="width:70px;" type="text" id="rigakuRyohoNm2" name="konyu_rireki[rigakuRyohoNm2]" value="<%= @konyu_rireki.rigakuRyohoNm2 %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">仮合日</th>
            <td>
              <input style="width:80px;" type="text" id="kariAwaseDt" name="konyu_rireki[kariAwaseDt]" value="<%= @konyu_rireki.kariAwaseDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">作業療法士</th>
            <td>
              <input style="width:70px;" type="text" id="sagyoRyohoNm1" name="konyu_rireki[sagyoRyohoNm1]" value="<%= @konyu_rireki.sagyoRyohoNm1 %>" />
            </td>
            <td>
              <input style="width:70px;" type="text" id="sagyoRyohoNm2" name="konyu_rireki[sagyoRyohoNm2]" value="<%= @konyu_rireki.sagyoRyohoNm2 %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">納品担当者</th>
            <td>
              <input style="width:70px; ime-mode: disabled;" type="text" id="nohinTantoCd" name="konyu_rireki[nohinTantoCd]" value="<%= @konyu_rireki.nohinTantoCd %>" />
              <div id="nohinTantoNm"><%= @konyu_rireki.nohinTantoNm %></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">見積担当営業</th>
            <td>
              <input style="width:70px; ime-mode: disabled;" type="text" id="mitsumoriTantoEigyoCd" name="konyu_rireki[mitsumoriTantoEigyoCd]" value="<%= @konyu_rireki.mitsumoriTantoEigyoCd %>" />
            </td>
            <td>
              <div id="mitsumoriTantoEigyoNm"><%= @konyu_rireki.mitsumoriTantoEigyoNm %></div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">納品日</th>
            <td>
              <input style="width:80px;" type="text" id="nohinDt" name="konyu_rireki[nohinDt]" value="<%= @konyu_rireki.nohinDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">見積日</th>
            <td>
              <input style="width:80px;" type="text" id="mitsumoriDt" name="konyu_rireki[mitsumoriDt]" value="<%= @konyu_rireki.mitsumoriDt %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">交付日</th>
            <td>
              <input style="width:80px;" type="text" id="kofuDt" name="konyu_rireki[kofuDt]" value="<%= @konyu_rireki.kofuDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">種別</th>
            <td>
              <%= select :konyu_rireki, :shubetsuKn, [["新規", "0"], ["修理", "1"]], :include_blank => true, :style => "width:30px;" %>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">入金日</th>
            <td>
              <input style="width:80px;" type="text" id="nyukinDt" name="konyu_rireki[nyukinDt]" value="<%= @konyu_rireki.nyukinDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">見積製品項目</th>
            <td>
              <input style="width:70px; ime-mode: disabled;" type="text" id="seihinId" name="konyu_rireki[seihinId]" value="<%= @konyu_rireki.seihinId %>" />
            </td>
            <td>
              <div id="hinmeiNm"><%= @konyu_rireki.hinmeiNm %></div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">押印日</th>
            <td>
              <input style="width:80px;" type="text" id="oshiinDt" name="konyu_rireki[oshiinDt]" value="<%= @konyu_rireki.oshiinDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">商品名</th>
            <td>
              <input style="width:130px;" type="text" id="shohinNm" name="konyu_rireki[shohinNm]" value="<%= @konyu_rireki.shohinNm %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th style="width:100px;">完了日</th>
            <td>
              <input style="width:80px;" type="text" id="kanryoDt" name="konyu_rireki[kanryoDt]" value="<%= @konyu_rireki.kanryoDt %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">保険種別1</th>
            <td>
            <!-- 保険種別マスタを表示 -->
              <%= select :konyu_rireki, :hokenShubetsuCd1, @hoken_shubetsu.map{|t| [t.hokenShubetsuNm, t.hokenShubetsuCd]}, :include_blank => true %>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th>完成図</th>
            <!-- 完成図を表示する -->
            <td rowspan="4">
              <div id="uploaded_image"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">保険種別2</th>
            <td>
              <!-- 保険種別マスタを表示 -->
              <%= select :konyu_rireki, :hokenShubetsuCd2, @hoken_shubetsu.map{|t| [t.hokenShubetsuNm, t.hokenShubetsuCd]}, :include_blank => true %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">金額</th>
            <td>
              <input style="width:130px; ime-mode: disabled;" type="text" id="kin" name="konyu_rireki[kin]" value="<%= @konyu_rireki.kin %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">請求金額<br>（負担額）</th>
            <td>
              <input style="width:130px; ime-mode: disabled;" type="text" id="seikyuKin" name="konyu_rireki[seikyuKin]" value="<%= @konyu_rireki.seikyuKin %>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table>
          <tr>
            <th style="width:80px;">商品仕様<br>備考</th>
            <td>
              <input style="width:230px;" type="text" id="shohinShiyoBiko" name="konyu_rireki[shohinShiyoBiko]" value="<%= @konyu_rireki.shohinShiyoBiko %>" />
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th><br></th>
            <td>
              <input id="fileupload" type="file" name="files[]" data-url="/konyu_rirekis/file_upload.json" multiple>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</form>
<script>
$(function() {
  $("#konyuRirekiForm").validate({
    errorClass:'error',
    errorElement:'label',
    highlight: function (element, errorClass, validClass) {
      $(element).addClass(errorClass);
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass(errorClass);
    },
    rules: {
        "konyu_rireki[kokyakuId]": {required:true, number:true, maxlength:7},
        "konyu_rireki[byoinCd]": {required:true, number:true, maxlength:99},
        "konyu_rireki[ishiNm1]": {required:true, maxlength:50},
        "konyu_rireki[ishiNm2]": {maxlength:50},
        "konyu_rireki[rigakuRyohoNm1]": {maxlength:50},
        "konyu_rireki[rigakuRyohoNm2]": {maxlength:50},
        "konyu_rireki[sagyoRyohoNm1]": {maxlength:50},
        "konyu_rireki[sagyoRyohoNm2]": {maxlength:50},
        "konyu_rireki[mitsumoriTantoEigyoCd]": {required:true, maxlength:99},
        "konyu_rireki[mitsumoriDt]": {required:true, date:true},
        "konyu_rireki[shubetsuKn]": {required:true},
        "konyu_rireki[seihinId]": {required:true, maxlength:99},
        "konyu_rireki[shohinNm]": {maxlength:100},
        "konyu_rireki[hokenShubetsuCd1]": {required:true},
        "konyu_rireki[kin]": {required:true, number:true, maxlength:9},
        "konyu_rireki[seikyuKin]": {required:true, number:true, maxlength:9},
        "konyu_rireki[shohinShiyoBiko]": {maxlength:200},
        "konyu_rireki[uketsukeSesakuTantoCd]": {maxlength:99},
        "konyu_rireki[kariAwaseTantoCd]": {maxlength:99},
        "konyu_rireki[nohinTantoCd]": {maxlength:99},
        "konyu_rireki[juchuDt]": {date:true},
        "konyu_rireki[kariAwaseDt]": {date:true},
        "konyu_rireki[nohinDt]": {date:true},
        "konyu_rireki[kofuDt]": {date:true},
        "konyu_rireki[nyukinDt]": {date:true},
        "konyu_rireki[oshiinDt]": {date:true},
        "konyu_rireki[kanryoDt]": {date:true},
    }
  });
  $("#konyu_rireki_shubetsuKn").css("width", "100px");
  $("#konyu_rireki_hokenShubetsuCd1").css("width", "100px");
  $("#konyu_rireki_hokenShubetsuCd2").css("width", "100px");

  // tabindex一括設定
  var items = new Array(
    "#kokyakuId",
    "#byoinCd",
    "#ishiNm1",
    "#ishiNm2",
    "#rigakuRyohoNm1",
    "#rigakuRyohoNm2",
    "#sagyoRyohoNm1",
    "#sagyoRyohoNm2",
    "#mitsumoriTantoEigyoCd",
    "#mitsumoriDt",
    "#konyu_rireki_shubetsuKn",
    "#seihinId",
    "#shohinNm",
    "#konyu_rireki_hokenShubetsuCd1",
    "#konyu_rireki_hokenShubetsuCd2",
    "#kin",
    "#seikyuKin",
    "#shohinShiyoBiko",
    "#uketsukeSesakuTantoCd",
    "#juchuDt",
    "#kariAwaseTantoCd",
    "#kariAwaseDt",
    "#nohinTantoCd",
    "#nohinDt",
    "#kofuDt",
    "#nyukinDt",
    "#oshiinDt",
    "#kanryoDt",
    "#uploaded_image",
    "#fileupload",
    "#btnKonyuRirekiReturn",
    "#btnKonyuRirekiRegist"
  );
  for(i=tab_start_index ; i<items.length; i++) {
    $(items[i]).attr("tabindex", i+1);
  }
  $(items[tab_start_index]).select();

  // 日付項目のフォーマットを設定する
  var dateItems = new Array("juchuDt", "kariAwaseDt", "nohinDt", "kofuDt", "nyukinDt", "oshiinDt", "kanryoDt", "mitsumoriDt");
  $.each(dateItems,function(i) {
    var dateObj = $("#" + this);
    if (dateObj.val()) {
      dateObj.val($.datepicker.formatDate('yy/mm/dd', new Date(dateObj.val())));
    }
    dateObj.datepicker();
  });

  // 金額項目のフォーマットを設定する
  var kinItems = new Array("kin", "seikyuKin");
  $.each(kinItems,function(i) {
    var kinObj = $("#" + this);
    if (kinObj.val()) {
      var num = new Number(kinObj.val());
      kinObj.val(num.toFixed(0));
    }
    kinObj.css("text-align","right");
  });

  $( "#kokyakuId" ).autocomplete({
    // source: availableTags,
    source: function(request, response) {
      $.ajax({
        url: "/common_data/kokyaku_list.json",
        dataType: "json",
        root: "list",
        data: {'kokyakuId' : $('#kokyakuId').val()},
        success: function(data) {
          response($.map(data, function(item) {
            return {
              label: item.kokyakuNm1+' '+item.kokyakuNm2+' - '+item.kokyakuId,
              value: item.kokyakuId
            }
          }))
        }
      })
    },
    select: function (event, ui) {
      $('#kokyakuNm').html(ui.item.label.split(' - ').shift());
      // ui.item.value = ui.item.value.split(':').shift();
    }
  });
  $( "#kokyakuNm" ).css({width:"150px"}).addClass("input-xlarge uneditable-input");

  var userItems = [
    ["uketsukeSesakuTantoCd", "uketsukeSesakuTantoNm"],
    ["kariAwaseTantoCd", "kariAwaseTantoNm"],
    ["nohinTantoCd", "nohinTantoNm"],
    ["mitsumoriTantoEigyoCd", "mitsumoriTantoEigyoNm"]
  ];

  $.each(userItems,function(i) {
    var itemCd = this[0];
    var itemNm = this[1];
    $( "#" + itemCd ).autocomplete({
      // source: availableTags,
      source: function(request, response) {
        $.ajax({
          url: "/common_data/user_list.json",
          dataType: "json",
          root: "list",
          data: {'shainCd' : $('#' + itemCd).val()},
          success: function(data) {
            response($.map(data, function(item) {
              return {
                label: item.myoji+' '+item.name+' - '+item.shainCd,
                value: item.shainCd
              }
            }))
          }
        })
      },
      select: function (event, ui) {
        $('#' + itemNm).html(ui.item.label.split(' - ').shift());
        // ui.item.value = ui.item.value.split(':').shift();
      }
    });
    // ユーザ名のスタイルを指定する
    $( "#" + itemNm ).css({width:"150px"}).addClass("input-xlarge uneditable-input");
  });

  $( "#byoinCd" ).autocomplete({
    source: function(request, response) {
      $.ajax({
        url: "/common_data/byoin_list.json",
        dataType: "json",
        root: "list",
        data: {'byoinCd' : $('#byoinCd').val()},
        success: function(data) {
          response($.map(data, function(item) {
            return {
              label: item.byoinNm+' - '+item.byoinCd,
              value: item.byoinCd
            }
          }))
        }
      })
    },
    select: function (event, ui) {
      $('#byoinNm').html(ui.item.label.split(' - ').shift());
    }
  });
  $( "#byoinNm" ).css({width:"150px"}).addClass("input-xlarge uneditable-input");

  $( "#seihinId" ).autocomplete({
    source: function(request, response) {
      $.ajax({
        url: "/common_data/seihin_list.json",
        dataType: "json",
        root: "list",
        data: {'seihinId' : $('#seihinId').val()},
        success: function(data) {
          response($.map(data, function(item) {
            return {
              label: item.hinmeiNm+' - '+item.seihinId,
              value: item.seihinId
            }
          }))
        }
      })
    },
    select: function (event, ui) {
      $('#hinmeiNm').html(ui.item.label.split(' - ').shift());
    }
  });
  $( "#hinmeiNm" ).css({width:"150px"}).addClass("input-xlarge uneditable-input");

  $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('#uploaded_image')
                  .empty()
                  .append(
                    $('<img />')
                      .attr('src', file.thumbnail_url)
                      .attr('alt', file.name + "(" + file.size + "bytes)")
                      .attr('width', "100px")
                      .attr('height', "100px")
                      .appendTo('#uploaded_image'));
            });
        }
  });
  <% files = session[:files] %>
  <% if files and not files.empty? then %>
  <%   src = "/konyu_rirekis/get_image/#{files[0][:name]}" %>
  <%   alt = "#{files[0][:name]}(0bytes)" %>

  $('<img />')
    .attr('src', '<%=src %>')
    .attr('alt', '<%=alt %>')
    .attr('width', "100px")
    .attr('height', "100px")
    .appendTo('#uploaded_image');
  <% end %>

});

// Submit前処理用メソッド
function executeKonyuRireki() {
  // 2重Submit防止
  $("a#btnKonyuRirekiRegist").unbind('click');

  // クライアントバリデーション
  if ($("#konyuRirekiForm").valid() == false) {
    // 登録ボタンclickイベント再attach
    $("a#btnKonyuRirekiRegist").click(function() {
        executeKonyuRireki();
        return false;
    });
    return false;
  }
  var id = $("#id").val();
  //var action;
  //var method;
  if(id != null && id != undefined && id != "") {
    $("#koshinshaId").val($("#loginId").val());
    $("#konyuRirekiForm").attr("action", "/konyu_rirekis/" + id);
    $("#httpMethod").val("put");
  } else {
    $("#koshinshaId").val($("#loginId").val());
    $("#torokushaId").val($("#loginId").val());
    $("#konyuRirekiForm").attr("action", "/konyu_rirekis");
    $("#httpMethod").val("post");
  }
  $("#konyuRirekiForm").submit();
  // var data = {};
  // var postData = {};
  // var kokyaku = $("#kokyakuForm").serializeArray();
  // $.each(kokyaku, function() {
  //     data[this.name] = this.value;
  // });
  // data["koshinshaId"] = 1;
  // data["torokushaId"] = 1;
  // postData["kokyaku"] = data;
  // postData["id"] = kokyakuId;
  // $.ajax({
  //     scriptCharset:"UTF-8",
  //     type: type,
  //     url: url,
  //     data: postData,
  //     root: "kokyaku",
  //     dataType: "json",
  //     success: function(result) {
  //         if(result != null) {
  //             //searchKokyaku();
  //         }
  //     }
  // });
  return false;
}

</script>