<form id="kokyakuForm" method="post">
<input type="hidden" id="kokyakuId" name="kokyaku[kokyakuId]" value="<%= @kokyaku.kokyakuId %>" />
<input type="hidden" id="koshinshaId" name="kokyaku[koshinshaId]" value="<%= @kokyaku.koshinshaId %>" />
<input type="hidden" id="torokushaId" name="kokyaku[torokushaId]" value="<%= @kokyaku.torokushaId %>" />
<input type="hidden" id="httpMethod" name="_method" value="" />
<div>
  <table>
    <tr>
      <th style="width:75px;">顧客名称</th>
      <td style="width:150px;">
        <input style="width:150px;" type="text" id="kokyakuNm" name="kokyaku[kokyakuNm]" value="<%= @kokyaku.kokyakuNm %>" tabindex="2" />
      </td>
      <th style="width:75px;">郵便番号</th>
      <td style="width:150px;">
        <input style="width:80px;" type="text" id="postNo" name="kokyaku[postNo]" value="<%= @kokyaku.postNo %>" tabindex="10" />
        <a id="searchAddress" href="#">住所表示</a>
      </td>
      <th style="width:100px;" scope="row">病名・障害名１</th>
      <td style="width:150px;">
        <%= select :kokyaku, :shobyouCd1, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>カナ名称</th>
      <td>
        <input style="width:150px;" type="text" id="kokyakuNmKana" name="kokyaku[kokyakuNmKana]" value="<%= @kokyaku.kokyakuNmKana %>" tabindex="4" />
      </td>
      <th>住所１</th>
      <td>
        <input style="width:150px;" type="text" id="address1" name="kokyaku[address1]" value="<%= @kokyaku.address1 %>" tabindex="12" />
      </td>
      <th>病名・障害名２</th>
      <td>
        <%= select :kokyaku, :shobyouCd2, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        <%= select :kokyaku, :seibetsu, [["男性", "0"], ["女性", "1"]], :include_blank => true %>
      </td>
      <th>住所２</th>
      <td>
        <input style="width:150px;" type="text" id="address2" name="kokyaku[address2]" value="<%= @kokyaku.address2 %>" tabindex="14" />
      </td>
      <th>病名・障害名３</th>
      <td>
        <%= select :kokyaku, :shobyouCd3, @shobyo.map{|t| [t.shobyoNm, t.shobyoCd]}, :include_blank => true %>
      </td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td>
        <input style="width:100px;" type="text" id="tanjoDt" name="kokyaku[tanjoDt]" value="<%= @kokyaku.tanjoDt %>" tabindex="8" />
      </td>
      <th>電話番号</th>
      <td>
       <input style="width:150px;" type="text" id="tel1" name="kokyaku[tel1]" value="<%= @kokyaku.tel1 %>" tabindex="16" />
      </td>
      <th>学校名</th>
      <td>
        <input type="text" id="gakkoNm" name="kokyaku[gakkoNm]" value="<%= @kokyaku.gakkoNm %>" tabindex="28" />
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <th>携帯番号</th>
      <td>
        <input style="width:150px;" type="text" id="tel2" name="kokyaku[tel2]" value="<%= @kokyaku.tel2 %>" tabindex="18" />
      </td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <th>FAX番号</th>
      <td>
        <input style="width:150px;" type="text" id="fax" name="kokyaku[fax]" value="<%= @kokyaku.fax %>" tabindex="20" />
      </td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th style="width:100px;">備考</th>
      <td colspan="5">
        <textarea style="width:500px;" id="biko" name="kokyaku[biko]" rows="3" cols="250" tabindex="30"><%= @kokyaku.biko %></textarea>
      </td>
    </tr>
  </table>
</div>
</form>
<script>
$(function() {
  $("#kokyakuForm").validate({
    errorClass:'error',
    errorElement:'label',
    highlight: function (element, errorClass, validClass) { 
      $(element).addClass(errorClass); 
    }, 
    unhighlight: function (element, errorClass, validClass) { 
      $(element).removeClass(errorClass); 
    },
    rules: {
        kokyakuNm: {required:true, maxlength:10},
        kokyakuNmKana: {katakana:true, maxlength:10},
        tanjoDt: {date:true},
        postNo: {postnum:true, maxlength:8},
        address1: {maxlength:100},
        address2: {maxlength:100},
        tel1: {telnum:true, maxlength:12},
        tel2: {mobilenum:true, maxlength:13},
        fax: {telnum:true, maxlength:12},
        gakkoNm: {maxlength:20},
        biko: {maxlength:100},
    }
  });

  $("a#searchAddress").click(function() {
    var zipCode = $("#postNo").val();
    if(zipCode == "") { return false; }
    var url = "http://api.postalcode.jp/v1/zipsearch?zipcode=" + zipCode + "&callback=callback1";
    $.ajax({
      scriptCharset:"UTF-8",
      type: "GET",
      url: url,
      dataType: "jsonp",
      success: function(data) {
        var address = data.zipcode;
        $("#address1").val(address.a1.city + address.a1.town);
      }
    });
    return false;
  });

  $("#kokyaku_seibetsu").css("width", "100px").attr("tabindex", "6");
  $("#kokyaku_shobyouCd1").css("width", "100px").attr("tabindex", "22");
  $("#kokyaku_shobyouCd2").css("width", "100px").attr("tabindex", "24");
  $("#kokyaku_shobyouCd3").css("width", "100px").attr("tabindex", "26");
});

// 更新用メソッド
function executeKokyaku(kokyakuId) {
  // クライアントバリデーション
  if ($("#kokyakuForm").valid() == false) {
     return false;
  }
  //var action;
  //var method;
  if(kokyakuId != null) {
    $("#koshinshaId").val("1");
    $("#kokyakuForm").attr("action", "/kokyakus/" + kokyakuId);
    //$("#kokyakuForm").attr("method", "PUT");
    $("#httpMethod").val("put");
      //url = "../../kokyakus/" + kokyakuId + ".json";
      //type = "PUT";
  } else {
    $("#koshinshaId").val("1");
    $("#torokushaId").val("1");
      //url = "../kokyakus.json";
      //type = "POST";
    $("#kokyakuForm").attr("action", "/kokyakus");
    //$("#kokyakuForm").attr("method", "POST");
    $("#httpMethod").val("post");
  }
  $("#kokyakuForm").submit();
  // var data = {};
  // var postData = {};
  // var kokyaku = $("#kokyakuForm").serializeArray();
  // $.each(kokyaku, function() {
  //     data[this.name] = this.value;
  // });
  // data["koshinshaId"] = 1;
  // data["torokushaId"] = 1;
  // postData["kokyaku"] = data;
  // postData["id"] = kokyakuId;
  // $.ajax({
  //     scriptCharset:"UTF-8",
  //     type: type,
  //     url: url,
  //     data: postData,
  //     root: "kokyaku",
  //     dataType: "json",
  //     success: function(result) {
  //         if(result != null) {
  //             //searchKokyaku();
  //         }
  //     }
  // });
  return false;    
}

function callback1( data )
{
        var address = data["city"];
        $("#address1").val(address);

}

</script>