<form id="kokyakuForm" method="post">
<input type="hidden" id="kokyakuId" name="kokyaku[kokyakuId]" value="<%= @kokyaku.kokyakuId %>" />
<input type="hidden" id="koshinshaId" name="kokyaku[koshinshaId]" value="<%= @kokyaku.koshinshaId %>" />
<input type="hidden" id="torokushaId" name="kokyaku[torokushaId]" value="<%= @kokyaku.torokushaId %>" />
<input type="hidden" id="httpMethod" name="_method" value="" />
<div>
  <table>
    <tr>
      <th style="width:75px;">顧客名称</th>
      <td style="width:150px;">
        <input style="width:150px;" type="text" id="kokyakuNm" name="kokyaku[kokyakuNm]" value="<%= @kokyaku.kokyakuNm %>" />
      </td>
      <th style="width:75px;">郵便番号</th>
      <td style="width:150px;">
        <input style="width:100px;" type="text" id="postNo" name="kokyaku[postNo]" value="<%= @kokyaku.postNo %>" />
      </td>
      <th style="width:100px;" scope="row">病名・障害名１</th>
      <td style="width:150px;">
        <select style="width:150px;" id="shobyouCd1" name="kokyaku[shobyouCd1]">
          <option value=""></option>
          <option value="0">骨折</option>
          <option value="1">捻挫</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>カナ名称</th>
      <td>
        <input style="width:150px;" type="text" id="kokyakuNmKana" name="kokyaku[kokyakuNmKana]" value="<%= @kokyaku.kokyakuNmKana %>" />
      </td>
      <th>住所１</th>
      <td>
        <input style="width:150px;" type="text" id="address1" name="kokyaku[address1]" value="<%= @kokyaku.address1 %>" />
      </td>
      <th>病名・障害名２</th>
      <td>
        <select style="width:150px;" id="shobyouCd2" name="kokyaku[shobyouCd2]">
          <option value=""></option>
          <option value="0">骨折</option>
          <option value="1">捻挫</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        <select style="width:150px;" id="seibetsu" name="kokyaku[seibetsu]">
          <option value=""></option>
          <option value="0">男性</option>
          <option value="1">女性</option>
        </select>
      </td>
      <th>住所２</th>
      <td>
        <input style="width:150px;" type="text" id="address2" name="kokyaku[address2]" value="<%= @kokyaku.address2 %>" />
      </td>
      <th>病名・障害名３</th>
      <td>
        <select style="width:150px;" id="shobyouCd3" name="kokyaku[shobyouCd3]">
          <option value=""></option>
          <option value="0">骨折</option>
          <option value="1">捻挫</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td>
        <input style="width:100px;" type="text" id="tanjoDt" name="kokyaku[tanjoDt]" value="<%= @kokyaku.tanjoDt %>" />
      </td>
      <th>電話番号</th>
      <td>
       <input style="width:150px;" type="text" id="tel1" name="kokyaku[tel1]" value="<%= @kokyaku.tel1 %>" />
      </td>
      <th>学校名</th>
      <td>
        <input type="text" id="gakkoNm" name="kokyaku[gakkoNm]" value="<%= @kokyaku.gakkoNm %>" />
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <th>携帯番号</th>
      <td>
        <input style="width:150px;" type="text" id="tel2" name="kokyaku[tel2]" value="<%= @kokyaku.tel2 %>" />
      </td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <th>FAX番号</th>
      <td>
        <input style="width:150px;" type="text" id="fax" name="kokyaku[fax]" value="<%= @kokyaku.fax %>" />
      </td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th style="width:100px;">備考</th>
      <td colspan="5">
        <textarea style="width:500px;" id="biko" name="kokyaku[biko]" rows="3" cols="250"><%= @kokyaku.biko %></textarea>
      </td>
    </tr>
  </table>
</div>
</form>
<script>
$(function() {
  $("#kokyakuForm").validate({
    errorClass:'error',
    errorElement:'label',
    highlight: function (element, errorClass, validClass) { 
      $(element).addClass(errorClass); 
    }, 
    unhighlight: function (element, errorClass, validClass) { 
      $(element).removeClass(errorClass); 
    },
    rules: {
        kokyakuNm: {required:true, maxlength:10},
        kokyakuNmKana: {katakana:true, maxlength:10},
        tanjoDt: {date:true},
        postNo: {postnum:true, maxlength:8},
        address1: {maxlength:100},
        address2: {maxlength:100},
        tel1: {telnum:true, maxlength:12},
        tel2: {mobilenum:true, maxlength:13},
        fax: {telnum:true, maxlength:12},
        gakkoNm: {maxlength:20},
        biko: {maxlength:100},
    }
  });
});

// 更新用メソッド
function executeKokyaku(kokyakuId) {
  // クライアントバリデーション
  if ($("#kokyakuForm").valid() == false) {
     return false;
  }
  //var action;
  //var method;
  if(kokyakuId != null) {
    $("#kokyakuForm").attr("action", "/kokyakus/" + kokyakuId);
    //$("#kokyakuForm").attr("method", "PUT");
    $("#httpMethod").val("put");
      //url = "../../kokyakus/" + kokyakuId + ".json";
      //type = "PUT";
  } else {
      //url = "../kokyakus.json";
      //type = "POST";
    $("#kokyakuForm").attr("action", "/kokyakus");
    //$("#kokyakuForm").attr("method", "POST");
    $("#httpMethod").val("post");
  }
  $("#koshinshaId").val("1");
  $("#torokushaId").val("1");
  $("#kokyakuForm").submit();
  // var data = {};
  // var postData = {};
  // var kokyaku = $("#kokyakuForm").serializeArray();
  // $.each(kokyaku, function() {
  //     data[this.name] = this.value;
  // });
  // data["koshinshaId"] = 1;
  // data["torokushaId"] = 1;
  // postData["kokyaku"] = data;
  // postData["id"] = kokyakuId;
  // $.ajax({
  //     scriptCharset:"UTF-8",
  //     type: type,
  //     url: url,
  //     data: postData,
  //     root: "kokyaku",
  //     dataType: "json",
  //     success: function(result) {
  //         if(result != null) {
  //             //searchKokyaku();
  //         }
  //     }
  // });
  return false;    
}

</script>