<p id="notice"><%= notice %></p>

<p>
  <b>Kokyaku:</b>
  <%= @kokyaku.kokyakuId %>
</p>

<p>
  <b>Kokyaku nm1:</b>
  <%= @kokyaku.kokyakuNm1 %>
</p>

<p>
  <b>Kokyaku nm2:</b>
  <%= @kokyaku.kokyakuNm2 %>
</p>

<p>
  <b>Kokyaku nm kana1:</b>
  <%= @kokyaku.kokyakuNmKana1 %>
</p>

<p>
  <b>Kokyaku nm kana2:</b>
  <%= @kokyaku.kokyakuNmKana2 %>
</p>

<p>
  <b>Seibetsu:</b>
  <%= @kokyaku.seibetsu %>
</p>

<p>
  <b>Tanjo dt:</b>
  <%= @kokyaku.tanjoDt %>
</p>

<p>
  <b>Post no:</b>
  <%= @kokyaku.postNo %>
</p>

<p>
  <b>Address1:</b>
  <%= @kokyaku.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @kokyaku.address2 %>
</p>

<p>
  <b>Tel1:</b>
  <%= @kokyaku.tel1 %>
</p>

<p>
  <b>Tel2:</b>
  <%= @kokyaku.tel2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @kokyaku.fax %>
</p>

<p>
  <b>Shobyou cd1:</b>
  <%= @kokyaku.shobyouCd1 %>
</p>

<p>
  <b>Shobyou cd2:</b>
  <%= @kokyaku.shobyouCd2 %>
</p>

<p>
  <b>Shobyou cd3:</b>
  <%= @kokyaku.shobyouCd3 %>
</p>

<p>
  <b>Gakko nm:</b>
  <%= @kokyaku.gakkoNm %>
</p>

<p>
  <b>Biko:</b>
  <%= @kokyaku.biko %>
</p>

<p>
  <b>Koshin dt:</b>
  <%= @kokyaku.koshinDt %>
</p>

<p>
  <b>Koshinsha:</b>
  <%= @kokyaku.koshinshaId %>
</p>

<p>
  <b>Toroku dt:</b>
  <%= @kokyaku.torokuDt %>
</p>

<p>
  <b>Torokusha:</b>
  <%= @kokyaku.torokushaId %>
</p>

<p>
  <b>Koshin:</b>
  <%= @kokyaku.koshinId %>
</p>


<%= link_to 'Edit', edit_kokyaku_path(@kokyaku) %> |
<%= link_to 'Back', kokyakus_path %>
