<h1>Listing shains</h1>

<table>
  <tr>
    <th>Shainid</th>
    <th>Shaincd</th>
    <th>Myoji</th>
    <th>Name</th>
    <th>Myojifuri</th>
    <th>Namefuri</th>
    <th>Loginid</th>
    <th>Loginpassword</th>
    <th>Manageflg</th>
    <th>Koshinshaid</th>
    <th>Torokushaid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shains.each do |shain| %>
  <tr>
    <td><%= shain.shainId %></td>
    <td><%= shain.shainCd %></td>
    <td><%= shain.myoji %></td>
    <td><%= shain.name %></td>
    <td><%= shain.myojiFuri %></td>
    <td><%= shain.nameFuri %></td>
    <td><%= shain.loginId %></td>
    <td><%= shain.loginPassword %></td>
    <td><%= shain.manageFlg %></td>
    <td><%= shain.koshinshaId %></td>
    <td><%= shain.torokushaId %></td>
    <td><%= link_to 'Show', shain %></td>
    <td><%= link_to 'Edit', edit_shain_path(shain) %></td>
    <td><%= link_to 'Destroy', shain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shain', new_shain_path %>
