<p id="notice"><%= notice %></p>

<p>
  <b>Shainid:</b>
  <%= @shain.shainId %>
</p>

<p>
  <b>Shaincd:</b>
  <%= @shain.shainCd %>
</p>

<p>
  <b>Myoji:</b>
  <%= @shain.myoji %>
</p>

<p>
  <b>Name:</b>
  <%= @shain.name %>
</p>

<p>
  <b>Myojifuri:</b>
  <%= @shain.myojiFuri %>
</p>

<p>
  <b>Namefuri:</b>
  <%= @shain.nameFuri %>
</p>

<p>
  <b>Loginid:</b>
  <%= @shain.loginId %>
</p>

<p>
  <b>Loginpassword:</b>
  <%= @shain.loginPassword %>
</p>

<p>
  <b>Manageflg:</b>
  <%= @shain.manageFlg %>
</p>

<p>
  <b>Koshinshaid:</b>
  <%= @shain.koshinshaId %>
</p>

<p>
  <b>Torokushaid:</b>
  <%= @shain.torokushaId %>
</p>


<%= link_to 'Edit', edit_shain_path(@shain) %> |
<%= link_to 'Back', shains_path %>
